
.header {
    overflow: hidden;
    background-color: black;
    padding: 20px 10px;
    display: flex;
    gap: 300px;
  }
  
 
  .header a {
    float: left;
    color: blue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .header a.logo {
    font-size: 35px;
    font-weight: bold;
  }
  

  
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  
  .header-right {
    float: right;
  }
  
 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
   
  }
  body{
    background-image: url("photo-1557899563-1940fc95709c.avif");
    
    height:300px;
    position: top;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;
 
    
}
form{
  justify-content: center;
  text-align: center;
  
  

}
.container{
  justify-content: center;
  text-align: center;
  display:flex;
  background-color: aliceblue;
  height: 50px;
  max-width: 140%;
  position: fixed;
 
  

}


.footer{
  bottom: 0%;
  width:100%;
  position:fixed;
  text-align: center;
  left:0%;
  border-top: solid;
  border-color: black;
 

 
}
.head{
  display: flex;
  align-items: center;
}


.cart{
  width:50px;
}





